body {
    margin: 60px auto;
    width: 95%;
}
@media only screen and (min-width: 1100px) {
    body {
        margin: 60px auto;
        width: 60%;
    }
}



li {
    font-size: 1em;
    line-height: 1.25em;
    color: #333;
    font-family:'Inconsolata', monospace;
    text-align: justify;
}

nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}

h2, h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    padding: 0;
    margin: 0;
    font-size: 1.4rem;
    line-height: 1.4;
    color: rgb(0, 0, 0);
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    margin-bottom: 0.5rem;
    font-weight: 900;
    line-height: 1.2;
}
h1, .h1 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
}
h2, .h2 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
h3, .h3 {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
}
h4, .h4 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}
h5, .h5 {
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}
h6, .h6 {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 1em;
    line-height: 1.25em;
    color: #333;
    font-family: 'Inconsolata', monospace;
    text-align: justify;
}

footer {
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

pre.code {
    background-color: #fff;
    position: relative;
    border-radius: unset !important;
    border-style: solid !important;
    border-width: medium !important;
    border-color: #000 !important;
}

pre code {
    position: relative;
    z-index: 1000;
    display: block;
    max-height: 450px;
    padding: 1.5rem;
    overflow: auto;
    font-size: 1.25em;
}

*.array {
    padding: 0;
    margin: 0;
}

ul.array {
    list-style-type: none;
    width: auto;
}

li.array img.array {
    float: left;
    margin: 0 0 0 0;
    width: 100%;
    height: auto;
}

li.array {
    padding: 10px;
    overflow: auto;
    border-radius: unset !important;
    border-style: solid !important;
    border-width: medium !important;
    border-color: transparent !important;
}

li:hover.array {
    border-radius: unset !important;
    border-style: solid !important;
    border-width: medium !important;
    border-color: #000 !important;
    cursor: pointer;
}

h3.array {
    font-size: 1.5em;
    line-height: 2em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p.array {
    font-size: 1em;
    line-height: 1em;
    color: #555;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}

.border {
    border-radius: unset !important;
    border-style: solid !important;
    border-width: medium !important;
    border-color: #000 !important;
    box-shadow: 5px 5px 0px 0px !important;
}

.border-no-shadow {
    border-radius: unset !important;
    border-style: solid !important;
    border-width: medium !important;
    border-color: #000 !important;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #ffffff;
}



* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
    display: flex;
    gap: 10px;
    height: 500px;
}

.slide-content {
    flex: 1;
    position: relative;
}

.slide-content .slide {
    width: 100%;
    display: flex;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    flex-direction: column;
    transition: opacity 1000ms;
}

.slide-content .slide img.array {
    flex: 1;
    height: calc(100% - 48px);
    width: 100%;
    object-fit: cover;
}

.slide-content .slide h3.array {
    width: 100%;
}

.slide-content .slide.active {
    opacity: 1;
    z-index: 100;
}

.sidebar {
    height: 100%;
    overflow-y: auto;
    width: 250px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding: 0px 5px 0px 5px;
}

.sidebar .slide-selector {
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 5px;
    transition: box-shadow 500ms;
}

.sidebar .slide-selector.active {
    padding: 2px;
    border-radius: unset !important;
    border-style: solid !important;
    border-width: medium !important;
}

@media screen and (max-width: 1100px) {
    .slideshow-container {
        flex-direction: column;
    }
    
    .sidebar {
        height: 100%;
        width: 100%;
        flex-direction: row;
        padding: 0px;
    }

    .sidebar .slide-selector {
        width: 180px;
    }
}