---
import HeaderComponent from "../components/HeaderComponent.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Moritz Jung - coding projects">
    <HeaderComponent route={['coding-projects']}></HeaderComponent>

	<div class="content-container cc404">
		<div class="content c404">
			<h1>404</h1>
			<p>It seems like you are lost. <br/> <strong>Quick!</strong> Return to the <a href="/">home page</a> before anyone finds out.</p>
		</div>
	</div>
</Layout>
