---
import HeaderComponent from '../components/HeaderComponent.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Moritz Jung - Datenschutz">
	<HeaderComponent route={[['datenschutz', 'Datenschutz']]} />

	<div class="content-container">
		<div class="content">
			<h2>Impressum</h2>

			<h4>Name des Anbieters</h4>

			<p>Moritz Jung</p>

			<h4>Kontaktdaten</h4>

			<p>
				Email: m.projects.code@gmail.com <br />
				Internetseite: <a href="https://moritzjung.dev">https://moritzjung.dev</a>
			</p>

			<h4>Datenschutz</h4>
			<p>
				Unsere Datenschutzhinweise finden Sie unter: <a href="/datenschutz">https://moritzjung.dev/datenschutz</a>
			</p>
		</div>
	</div>
</Layout>
