---
export interface Props {
	route: (string|[string, string])[],
}

const { route } = Astro.props;

let routeParts: {name: string, partialRoute: string}[] = [];
let r = '/'

for (const routePart of route) {
    if (Array.isArray(routePart)) {
        r += routePart[0] + '/';
        routeParts.push({name: routePart[1], partialRoute: r});
    } else {
        r += routePart + '/';
        routeParts.push({name: routePart, partialRoute: r});
    }
}
---

<header class="header">
    <span class="header-item">
        <a class="stealth" href="/">moritzjung.dev</a>
    </span>
    {routeParts.map((routePart) => 
        <>
            <span>/</span>
            <span class="header-item">
                <a class="stealth" href={routePart.partialRoute}>{routePart.name}</a>
            </span>
        </>
    )}
</header>