---
import { Tag, tagColors, getTagKey } from '../utils/tag';

export interface Props {
	tag: Tag,
}

const { tag } = Astro.props;

// console.log(animate);


const tagColor: string = tagColors.find(x => x.name === tag)?.color ?? '#FFFFFF';

---

<style define:vars={{tagColor}} lang="scss">
    .tag {
        border-left: 5px solid var(--tagColor);
    }

    .tag-text {
        
    }
</style>


<a class="tag button" href={`/coding-projects/tags/${encodeURI(getTagKey(tag))}`}>{tag}</a>