<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

<body>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/blender-projects">Blender</a></li>
		</ul>
	</nav>
	<div class="container">
		<img src="https://ps.w.org/under-construction-page/assets/screenshot-2.png" alt="" style="width: 100%; height: auto;">
		<span>Source: https://ps.w.org/under-construction-page/assets/screenshot-2.png</span>
		{{ content }}

	</div><!-- /.container -->
	<footer>
		<ul>
			<li><a href="mailto:mProjectsCode@gmail.com">email</a></li>
			<li><a href="https://github.com/mProjectsCode">github</a></li>
			<li style="float: right;"><a href="">Copyright ©2020 All Rights Reserved.</a></li>
		</ul>
	</footer>
</body>

</html>