<!DOCTYPE html>
<html>

<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/utility.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0HDBB98VJL"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', 'G-0HDBB98VJL');
	</script>
</head>

<body>
	
	<ol class="breadcrumb border">
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/programming-projects">Blog</a></li>
				<li><a href="/art-projects">Art</a></li>
			</ul>
		</nav>
	</ol>
	<div class="container" style="margin: 0px 10px 0px 10px;">
		{{ content }}

	</div><!-- /.container -->
	<footer>
		<ol class="breadcrumb border">
			<ul>
				<li><a href="mailto:mProjectsCode@gmail.com">email</a></li>
				<li><a href="https://github.com/mProjectsCode">github</a></li>
				<li style="float: right; margin-right: 0px; margin-left: 20px;"><a href="">Copyright ©2020 All Rights Reserved.</a></li>
				<li style="float: right; margin-right: 0px; margin-left: 20px;"><a href="/privacy_statement_german">Datenschutz Erklärung</a></li>
				<li style="float: right; margin-right: 0px; margin-left: 20px;"><a href="/privacy_statement_english">Privacy Policy</a></li>
			</ul>
		</ol>
	</footer>
</body>

</html>