<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Redirecting...</title>
    {% comment %}
    Don't use 'redirect_to' to avoid conflict
    with the page redirection plugin: if that is defined
    it takes over.
    {% endcomment %}
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <link href="{{ page.redir_to }}" rel="canonical"/>
    <meta content="0;url={{ page.redir_to }}" http-equiv="refresh"/>
</head>

<body>
<h1>Redirecting...</h1>
<a href="{{ page.redir_to }}">Click here if you are not redirected.</a>
    <script>location = '{{ page.redir_to }}';</script>
</body>
</html>